*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  font-family: 'Inter', sans-serif;
  min-height: 900px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #F5EFDD;
}

dialog {
  border: none;
  border-radius: 16px;
  padding: 0;
  max-width: 620px;
  width: 90%;
  margin: auto;
  border: 1px solid #995FA3;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}